* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 100px;
  font-family: 'League Spartan', sans-serif;
}
h1 {
  color: hsl(300, 43%, 22%);
  width: 220px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
}

h3 {
  color: hsl(333, 80%, 67%);
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
}

.section-one {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.left-side {
  width: 290px;
}

.left-side p {
  font-size: 12px;
  color: hsl(303, 10%, 53%);
  line-height: 23px;
}

.rating-one, .rating-two, .rating-three {
  display: flex;
  background-color: hsl(300, 24%, 96%);
  padding: 15px 50px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.rating-one p, .rating-two p, .rating-three p {
  margin: 0 25px;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  
}

.rating-one {
  margin-right: 100px;
}

.rating-two {
  margin-left: 50px;
  margin-right: 50px;
}

.rating-three {
  margin-left: 100px;
  margin-right: 0;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Colton-profile, .Irene-profile, .Anne-profile {
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  padding: 25px;
  border-radius: 7px;
  font-size: 13.6px;
  width: 300px;
  margin-right: 25px;
  line-height: 23px;
}

.profile-header {
  display: flex;
  margin-bottom: 20px;
}

.profile-header img {
  width: 45px;
  border-radius: 300px;
  margin-right: 20px;
}

.Colton-profile {
  margin-top: 20x;
}

.Irene-profile {
  margin-top: 30px;
}

.Anne-profile {
  margin-top: 60px;
}

@media ( max-width: 600px) {
  body {
    padding: 10px;
    margin-top: 50px;
  }
  h1 {
    width: 100%;
    font-size: 39px;
  }
  .section-one, .section-two {
    width: auto;
    flex-direction: column;
  }
  .section-one {
    justify-content: center;
    align-items: center;
  }
  .left-side {
    width: 350px;
    text-align: center;
  }
  .left-side p {
    font-size: 17.7px;
  }
  .rating-one, .rating-two, .rating-three {
    flex-direction: column;
    margin: 15px;
    display: flex;
    align-items: center;
  }
  .Colton-profile, .Irene-profile, .Anne-profile {
    width: 350px;
    margin: 0;
    margin-bottom: 18px;
    font-size: 18px;
  }
}